body {
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    color: black;
    opacity: 0.75;
    margin: 0; 
    padding: 20px;
    border-top: 0px;
}

h1 {
    color: seagreen;
    text-align: center;
}

h4 {
    font-size: 30px;
}

nav {
    font-size: 20px;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}

nav a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

.nav ul li {
    display: inline;
    margin-right: 1px;
    font-size: 25px;
}

table,th, tr, td {
    border: 1px solid black;
    border-spacing: 5px;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 750px;
    height: 400px;  
}

table b {
    color: #e848bb;
}


li{
    list-style-type: circle;
}